&lt;mods:note type="preferredcitation"&gt;[Item title], [Collection name], [Call number], Brown University Library&lt;/mods:note&gt;
<br/> <br/>
&lt;mods:accessCondition type="restriction on access"&gt;Collection is open for research.&lt;/mods:accessCondition&gt;
<br/> <br/>
&lt;mods:note displayLabel="Digital object made available by"&gt;Brown University Library, John Hay Library, University Archives and Manuscripts, Box A, Brown University, Providence, RI, 02912, U.S.A., (http://library.brown.edu/)&lt;/mods:note&gt;
