        <html>
            <head>
                <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>MODS Maker</title>
            </head>
            <body>

            <div class="container">
            <h1 class="display-4">MODS Maker</h1>

                <p><h4>Error.</h4></p><br/>
                <p><h6>{{error}}</h6></p>

                </form>
        </html>