{% extends "base.html" %}
{% block content %}
<div class="card text-dark bg-light mb-3">
  <div class="card-body">
    <h5 class="card-title">EAD/MODS Maker usage and templates</h5>
    <p class="card-text">A spreadsheet containing instructions, formatting rules, and templates for this tool.</p>
    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
    <a target="_blank"
      href="https://docs.google.com/spreadsheets/d/1VbBANdK18uvoHqEuTfonty7CzO6p6BA5OHE0bQXoooQ/edit?usp=sharing"
      class="card-link"><i class="bi bi-link-45deg"></i> See usage and templates</a></a>
  </div>
</div>
<div class="card text-dark bg-light mb-3">
  <div class="card-body">
    <h5 class="card-title">MODS documentation</h5>
    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
    <p class="card-text">MODS schema standards published by the Library of Congress.</p>
    <a target="_blank" href="http://www.loc.gov/standards/mods/" class="card-link"><i class="bi bi-link-45deg"></i> See
      MODS documentation</a></a>
  </div>
</div>
<div class="card text-dark bg-light mb-3">
  <div class="card-body">
    <h5 class="card-title">EAD documentation</h5>
    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
    <p class="card-text">EAD schema standards published by the Library of Congress.</p>
    <a target="_blank" href="https://www.loc.gov/ead/" class="card-link"><i class="bi bi-link-45deg"></i> See EAD
      documentation</a></a>
  </div>
</div>
{% endblock %}