{% extends "base.html" %}
{% block content %}
<script>
  function retrievePreview(id) {

    var spinner = document.getElementById("previewspinner")
    spinner.style.display = "inherit"

    const previewDiv = document.getElementById("preview")
    previewDiv.innerText = ""

    const previewParentDiv = document.getElementById("previewparent")
    previewParentDiv.style.display = "inherit"

    const includeDefaults = document.getElementById("defaultsCheckbox").checked

    const data = {
      "id": id,
      "sheetname": document.getElementById("sheetlist").value,
      "includedefaults": includeDefaults
    }

    console.log(id)

    const parameters = {
      body: JSON.stringify(data),
      method: "POST",
      cache: "no-cache",
      headers: new Headers({
        "content-type": "application/json"
      })
    }

    fetch("/modsmaker/getpreview", parameters)
      .then(response => response.json())
      .then(function (data) {
        console.log(data)
        previewDiv.innerText = data.trim()
        spinner.style.display = "none"
      }
      );

  }
</script>
<p>
<h4>{{publicfilename}}</h4>
</p><br />
<h6 style="margin-bottom: 30px;">Select the Excel sheet in your Excel workbook that contains the metadata you'd like to
  process.</h6>

<form method="post" action="{{id}}" enctype="multipart/form-data">
  <select style="margin-bottom: 15px;" class="form-select" name="sheetlist" id="sheetlist" method="GET" action="/">
    <option value="{{sheets[0]}}" selected>{{sheets[0]}}</option>
    {% for sheet in sheets[1:] %}
    <option value="{{sheet}}">{{sheet}}</option>
    {% endfor %}
  </select>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" value="" name="defaultsCheckbox" id="defaultsCheckbox" checked>
    <label class="form-check-label" for="defaultsCheckbox">
      Include default Brown University archival fields. <a class="" data-bs-toggle="collapse" href="#defaultsView"
        role="button" aria-expanded="false" aria-controls="collapseExample">
        See default fields.
      </a>
    </label>
  </div>
  <div class="collapse" id="defaultsView" >
    <div class="card border-secondary mb-3 explanationcard">
      <div class="card-header">Default Brown University archival fields</div>
      <div class="card-body text-secondary">
    <p class="card-text" style="font-family:monospace;font-size: 1rem; color:black;">{% include 'defaultMODSfields.html' %}</p>
  </div>
  </div>
  </div>
  <div class="modsbuttons">
  <input type="submit" class="btn btn-primary" value="Download MODS" />
  <div style="margin-left: 5px; display:inline-block" onclick="retrievePreview('{{id}}')" class="btn btn-secondary">
    <span style="display:none;" class="spinner-border spinner-border-sm" id="previewspinner" role="status"
      aria-hidden="true"></span>
    Preview MODS
  </div>
</div>
</form>
<div class="alert alert-secondary instructions" role="alert">
Your MODS files will download inside a .zip file. The title of the .zip file will be the same as the title of
  the Excel sheet you chose to process.
</div>
{% include 'preview.html' %}
{% endblock %}