<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <title>EAD Maker</title>
</head>

<body>
  <script>
    function retrievePreview(id) {

      var spinner = document.getElementById("previewspinner")
      spinner.style.display = "inherit"

      const previewDiv = document.getElementById("preview")
      previewDiv.innerText = ""

      const previewParentDiv = document.getElementById("previewparent")
      previewParentDiv.style.display = "inherit"

      const data = {
        "id": id,
        "sheetname": document.getElementById("sheetlist").value
      }

      console.log(id)

      const parameters = {
        body: JSON.stringify(data),
        method: "POST",
        cache: "no-cache",
        headers: new Headers({
          "content-type": "application/json"
        })
      }

      fetch("/eadmaker/getpreview", parameters)
        .then(response => response.json())
        .then(function (data) {
          console.log(data)
          previewDiv.innerText = data
          spinner.style.display = "none"
        }
        );

    }
  </script>

  <div class="container">
    <h1 class="display-4">EAD Maker</h1>

    <p>
    <h4>{{publicfilename}}</h4>
    </p><br />
    <p>
    <h6>Select the Excel sheet in your Excel workbook that contains the inventory (box/folder) metadata you'd like to
      process.</h6> The Excel sheet containing the Collection-Level Data will automatically be included during the
    process.</p>

    <form method="post" action="{{id}}" enctype="multipart/form-data">
      <p><select class="form-select" name="sheetlist" id="sheetlist" method="GET" action="/">
          <option value="{{sheets[0]}}" selected>{{sheets[0]}}</option>
          {% for sheet in sheets[1:] %}
          <option value="{{sheet}}">{{sheet}}</option>
          {% endfor %}
        </select></p>
      <input type="submit" class="btn btn-primary" value="Download EAD" />
      <div style="margin-left: 5px; display:inline-block" onclick="retrievePreview('{{id}}')" class="btn btn-secondary">
        <span style="display:none;" class="spinner-border spinner-border-sm" id="previewspinner" role="status"
          aria-hidden="true"></span>
        Preview EAD
      </div>
    </form>
    <br />
    <hr>
    <p>Your EAD file will download as a .xml file. The name of the .xml file will be your institution's MARC Repository
      Code combined with the Call Number of the collection. (Example: US-RPB-ms2019.006.xml)</p>
    <hr>
    <div style="display:none;" id="previewparent">
      <br>
      <h4>Preview</h4>
      <br>
      <div style="font-family: monospace; white-space: pre-wrap;" class="preview" id="preview"></div>
    </div>

</html>