{% extends "base.html" %}
{% block content %}
<script>
  function retrievePreview(id) {

    var spinner = document.getElementById("previewspinner")
    spinner.style.display = "inherit"

    const previewDiv = document.getElementById("preview")
    previewDiv.innerText = ""

    const previewParentDiv = document.getElementById("previewparent")
    previewParentDiv.style.display = "inherit"

    const data = {
      "id": id,
      "sheetname": document.getElementById("sheetlist").value
    }

    console.log(id)

    const parameters = {
      body: JSON.stringify(data),
      method: "POST",
      cache: "no-cache",
      headers: new Headers({
        "content-type": "application/json"
      })
    }

    fetch("/eadmaker/getpreview", parameters)
      .then(response => response.json())
      .then(function (data) {
        console.log(data)
        previewDiv.innerText = data
        spinner.style.display = "none"
      }
      );

  }
</script>

<h4>{{publicfilename}}</h4>
<br />
<p>
<h6>Select the Excel sheet in your Excel workbook that contains the inventory (box/folder) metadata you'd like to
  process.</h6> The Excel sheet containing the Collection-Level Data will automatically be included during the
process.</p>

<form method="post" action="{{id}}" enctype="multipart/form-data">
  <p><select class="form-select" name="sheetlist" id="sheetlist" method="GET" action="/">
      <option value="{{sheets[0]}}" selected>{{sheets[0]}}</option>
      {% for sheet in sheets[1:] %}
      <option value="{{sheet}}">{{sheet}}</option>
      {% endfor %}
    </select></p>
  <div class="buttons">
  <button type="submit" class="btn btn-primary"><i class="bi bi-download"></i> Download EAD</button>
  <div style="margin-left: 5px; display:inline-block" onclick="retrievePreview('{{id}}')" class="btn btn-secondary">
    <span style="display:none;" class="spinner-border spinner-border-sm" id="previewspinner" role="status"
      aria-hidden="true"></span>
    Preview EAD
  </div>
</div>
</form>
<div class="alert alert-secondary instructions" role="alert">
  Your EAD file will download as a .xml file. The name of the .xml file will be your institution's MARC Repository
  Code combined with the Call Number of the collection. (Example: US-RPB-ms2019.006.xml)
</div>
{% include 'preview.html' %}
{% endblock %}