{% extends "base.html" %}
{% block content %}
<p>
<h6>Choose the Excel file you'd like to process.</h6>
</p>

<form method="post" action="{{url_for('modsMakerHome', profileFilename=profilename)}}" enctype="multipart/form-data"
    id="submit_mods">
    <p><input class="form-control" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" type="file" name="input_file" id="input_file" /></p>

    {% include 'mods/modsAction.html' %}

</form>

<script>
    fileInput = document.getElementById("input_file")
    fileInput.addEventListener('change', handleFileInputChange)
    fileTitle = document.getElementById("file_name")
    sheetList = document.getElementById("sheetlist")
    previewButton = document.getElementById("preview_button")
    submitForm = document.getElementById("submit_mods")
    actionCard = document.getElementById("action_card")
    fileSpinner = document.getElementById("filespinner")

    clearActionSheet()

    function handleFileInputChange() {

        clearActionSheet()

        if (fileInput.files[0] == undefined) {
            return
        }

        let selectedFile = fileInput.files[0]

        console.log(selectedFile.name)
        if (selectedFile.name.includes(".xlsx")) {
            handleUpload(selectedFile)
        }
    }

    function handleUpload(file) {
        let formData = new FormData();
        fileSpinner.style.display = "inherit"

        formData.append("xlsx_file", file);
        fetch('/processfileupload', { method: "POST", body: formData })
            .then(response => response.json())
            .then(data => setUpActionCard(data));
    }

    function setUpActionCard(response) {
        fileName = response['filename']
        sheetNames = response['sheetnames']
        uid = response['uid']

        console.log(sheetNames)

        fileTitle.innerText = fileName

        for (sheetName of sheetNames) {
            sheetList.appendChild(createSheetOptionElement(sheetName))
        }

        previewButton.addEventListener('click', function () {
            retrievePreview(uid)
        })

        actionCard.style.opacity = "1"
        actionCard.style.pointerEvents = "all"

        fileSpinner.style.display = "none"
    }

    function createSheetOptionElement(sheetName) {
        newSheetOption = document.createElement("option")
        newSheetOption.setAttribute("value", sheetName)
        newSheetOption.innerText = sheetName
        return newSheetOption
    }

    function clearActionSheet() {

        fileTitle.innerText = "No file selected"

        sheetList.innerText = ""

        previewButton.addEventListener('click', function () {

        })

        actionCard.style.opacity = "0.5"
        actionCard.style.pointerEvents = "none"

        const previewParentDiv = document.getElementById("previewparent")
        previewParentDiv.style.display = "none"

        fileSpinner.style.display = "none"

    }

</script>

{% endblock %}